# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Old

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

# Client

client/debug.log

## Dependencies
#Ignore
/*
!/react-calendar
/react-calendar/*
!/react-calendar/dist
client/node_modules/react-calendar/dist/*
!client/node_modules/react-calendar/dist/Calendar.css


client/node_modules
client/.pnp
client/.pnp.js

## Testing
client/coverage

## Production
client/build

## Misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/.eslintcache

# Server

server/config/databaseKey.js

server/config/databaseKey.js


## Dependencies
server/node_modules
server/.pnp
server/.pnp.js

## Testing
server/coverage

## Production
server/build

## Misc
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

server/.eslintcache
