.modal-position {
  display: flex-start;
  align-items: 'center';
  justify-content: 'center';
  padding: 80px;
  margin: auto;
  height: fit-content;
  width: 50vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
  }
  
  .modal-styling {
  background-color: whitesmoke;
  border: '2px solid #000';
  box-shadow: teal;
  padding: 20px;
  width: auto;
  outline-color: #2A2D34;
  margin: auto;
  
  }
  
  
  .MuiInput-root{
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: 'center';
  font-family: 'Montserrat', sans-serif; 
  }
  .MuiButton-contained{
  width: 100px;
  margin: auto;
  }
  .MuiButtonBase-root{
  margin: auto;
  }
  
  #standard-basic{
  /* width: fit-content; */
  text-align: left;
  }

  #email{
    margin-right: 52px;
    text-align: left;
  }

  #firstname{
    margin-right: 16px;
    text-align: left;
  }

  #lastname{
    margin-right: 16px;
    text-align: left;
  }

  #access{
    margin-right: 38px;
    text-align: left;
  }


  #section{
    margin-right: 10px;
    text-align: left;
  }

  #password{
    margin-right: 10px;
    text-align: left;
  }

  #available{
    padding-right: 87px;
  }

  .available-container-spacing{
    padding-top: 15px;
  }
 

.MatUI.FormLabel{
  font-family: 'Montserrat', sans-serif; 
  text-align: left;
  width: 100%;
}
  
  .MuiFormControl-root.makeStyles-root-1{
  margin: none;
  text-align: left;
  padding-left: 13%;
  }
  
  .register-button{
  position: absolute;
  top: 5px;
  /* left: 14vw; */
  justify-content: center;
  }

  .button-wrapper{
    padding-top: 15px;
    justify-content: right;
    text-align: right;
  }
  .save-btn{
    background-color: #6E75A8 ;;
    padding: 12px 26px;
    border-radius: 4px;
    outline: none;
    text-align: center;
    border: 1px solid #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s;	
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    text-decoration-style: solid;
}

.register-btn{
  background-color: #6E75A8 ;;
  padding: 12px 26px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  border: 1px solid #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s;	
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  text-decoration-style: solid;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

.modal-styling {
  background-color: whitesmoke;
  padding: 5px;
  width: 300px;
  height: 100%;
  margin-right: 50px;
  display: flex-start;
  align-items: left;
  justify-content: left;
  position:relative
  }

.modal-position{
  padding: 1px;
  margin-left: 40px;
}

.MuiFormControl-root.makeStyles-root-1{
  padding-left: 0%;
  
  } 
  #available{
    padding-right: 8px;
  }
  .MuiInput-root{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    }

 
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .modal-styling {
      width: 100%;
      height: 100%;
      display: flex-start;
      align-items: center;
      justify-content: center;
      }
    
    .modal-position{
      padding: 10px;
    }
    
    .MuiFormControl-root.makeStyles-root-1{
      padding-left: 0%;
      } 

      #available{
        padding-right: 15px;
      }

      .MuiInput-root{
        margin-left: 30px;
        margin-right: 30px;
        }

        
    
    }