

/* Entire Table */
.employee-table{
    width: 100%;
    text-align: left;
    padding: 5px;
}

.employee-table tr{
    line-height: 40px;
    font-family: 'Montserrat', sans-serif; 
    box-shadow: 0px 2px 2px whitesmoke;
  -moz-box-shadow: 0px 2px 2px whitesmoke;
  -webkit-box-shadow: 0px 2px 2px whitesmoke;
  }

/* Header of Table */
thead{
    font-size: 20px;
}

.adminEmployees-page > h1{
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
  }

th{
    padding-bottom: 10px;    
}

/* Edit button */
#Edit{
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 3px;
    color: #6E75A8;
}
#Edit:active{
    background-color: #fff;
    transform: translateY(4px);
  
}

#Edit:hover{
    background-color: #fff;
    border: none;
    color: #6E75A8 ;;
    
}

#Edit:visited{
    background-color: #fff;
    border: none;
    color: #6E75A8 ;
}

/* Delete button */

#Delete{
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 3px;
}
#Delete:active{
    background-color: #fff;
    transform: translateY(4px);
  
}

#Delete:hover{
    background-color: #fff;
    border: none;
    color: #6E75A8 ;
    
}

#Delete:visited{
    background-color: #fff;
    border: none;
}

/* Add employee button */

#AddEmployee{
    background-color: #6E75A8 ;;
    padding: 12px 26px;
    border-radius: 4px;
    outline: none;
    text-align: center;
    border: 1px solid #000;
    letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.5s;	
	cursor: pointer;
    font-size: 15px;
    color: #fff;
    text-decoration-style: solid;
}

#AddEmployee span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #AddEmployee span:after {
    content: '\002b';
    font-weight:bold ;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #AddEmployee:hover span {
    padding-right: 25px;
  }
  
  #AddEmployee:hover span:after {
    opacity: 1;
    right: 0;
  }

  .access-container-spacing{
     width: 100%;
     height: 100%;
  }