

/* Entire Table */
.employee-table{
    width: 100%;
    text-align: left;
    padding: 5px;
}

/* Header of Table */
thead{
    font-size: 20px;
}

th{
    padding-bottom: 10px;    
}

/* Edit button */
#Edit{
    background-color: #fff;
    border: none;
    font-size: 15px;
    padding: 3px;
}
#Edit:active{
    background-color: #fff;
  
}

#Edit:hover{
    background-color: #fff;
    border: none;
    color: green;
    
}

#Edit:visited{
    background-color: #fff;
    border: none;
}

#AddEmployee{
    background-color: white;
    padding: 12px 26px;
    border-radius: 4px;
    outline: none;
    text-align: center;
    border: 1px solid #000;
    letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.5s;	
	cursor: pointer;
    font-size: 15px;
    color: #000;
    text-decoration-style: solid;
}

#AddEmployee span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #AddEmployee span:after {
    content: '\002b';
    font-weight:bold ;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #AddEmployee:hover span {
    padding-right: 25px;
  }
  
  #AddEmployee:hover span:after {
    opacity: 1;
    right: 0;
  }