.MuiTabs-flexContainer{
    background-color: #2A2D34
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #appbar{
        width: 100%;
    }
    
    .dashboard-tabs{
        font-size: 2px;
        
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
 
    #appbar{
        width: 100%;
    }

    .dashboard-tabs{
        font-size: 20px; 
    }
}
