

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  
  html, body {
      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  }
  
  .navbar-button-list{
    border-radius: 5px;
  }
  .navbar-header{
    font-size: larger;
    text-align: center;
    margin-bottom: 50px;
  }

  .admin-calendar{
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .available-seats{
    padding: 10px;
    height: 295px;
    
  }

  .modal-form-test{
      display: 'flex';
      align-items: 'center';
      justify-content: 'center';
  
  }

  .modal-form-test2{
    background-color: red;
    border: '2px solid #000';
    box-shadow: teal;
    padding: 20px;
  }